<mat-card class="main" >
<div class="layout-x">
    <h2 style="color: #f72585;">Contacts</h2>
    <div>
        <button mat-raised-button class="theme-bg" (click)="openDialog()" matTooltip="add contact"> <mat-icon>person_add</mat-icon> add contact</button>
    </div>
</div>
<div align="center" *ngIf="loading"><span class="loader"></span><h3 style="color: #7209b7;">loading contacts...</h3></div>
<div align="center" *ngIf="!loading && contactCopy.length==0"><h3>no saved contacts, click add contact to create new contacts</h3></div>
<div *ngIf="!loading && contactCopy.length>0"class="mat-card" style="width: 60%; margin-left: auto; margin-right: auto;">
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Search for contact</mat-label>
        <input type="text" matInput [formControl]="search">
        <mat-icon matPrefix style="color: #7209b7;">person_search</mat-icon>
    </mat-form-field>
    <div >
        <mat-card class="contact-row" *ngFor="let data of contacts">
            <div class="info">
                <div>
                    <mat-icon style="margin-top: 5px;color: #7209b7;">account_circle</mat-icon>
                </div>
                <div class="details">
                    <span class="name-text">{{data.first_name}} {{data.last_name}}</span>
                    <span>{{data.number}}</span>
                </div>
            </div>
            <div class="actions">
                <button mat-icon-button color="primary" matTooltip="edit" (click)="openUpdateDialog(data)">
                    <mat-icon>edit_square</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="delete" (click)="deleteContact(data?._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>
</mat-card>